* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  background-color: #F2E8C6;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 32px auto;
}

menu-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 32px;
  width: 100%;
  padding: 16px;
}